@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/base/typography";

.counter {
  &__title,
  &__count {
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: $medium;
    color: $grey-600;
    padding-bottom: 0.5rem;
  }

  &__count {
    font-weight: $bold;
    font-size: 1.3rem;
    color: $grey-800;
    line-height: initial;

    &--small {
      font-weight: $semi-bold;
      font-size: 0.85rem;
      color: $grey-600;
    }
  }
}
