@import "../../stylesheets/abstracts/variables";

// Layout.
.layout {
  margin: 2.5rem auto !important; // Needed to override component level specificity issue.
  box-shadow: $shadow;
  background: $white;
  border-radius: 1rem;
  padding: 2rem;
}
