@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/base/typography";

// Header.
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $border;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
