@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/base/typography";

.footer {
  border-top: 1px solid $border;

  &__text {
    padding-bottom: 0;
    padding-top: 2rem;
  }
}
